*{
    box-sizing: border-box;
    font-family:"New Amsterdam", sans-serif;

}
main{
    width: 1366px;
    height: 2000px;
    margin: auto;
}
header{
    width: 1366px;
    height: 200px;
    text-align: center;
    background-color: black;
    background-image: url(../Imagenes/1241986.jpg);
    background-size: cover;
    background-position: right;
}
header img{
    height: 200px;
    filter: drop-shadow(10px 10px 10px rgb(43, 73, 66));
}
nav{
    width: 1366px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: black;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    padding: 6px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 24px;
    transition: .8s;
    
}
nav a:hover{
    background-color: greenyellow;
    transform: scale(1.2);
}
section{
    width: 1366px;
    height: 1500px;
    background-color: darkcyan;
    background-image: url(../Imagenes/1329303.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
.personaje{
    width: 1300px;
    height: 350px;
    margin-left: 33px;
    margin-top: 20px;
}
.foto{
    width: 400px;
    height: 350px;

    float: left;
    margin-left: 33px;
    text-align: center;
    border-bottom: black solid 4px;
}
.foto img{
    height: 100%;
}
.texto{
    width: 800px;
    height: 350px;
    background-color: rgba(115, 180, 50, 0.438);

    float: left;
    margin-left: 33px;
    padding: 20px;
    border-bottom: black solid 4px;
}
.texto a{
    color: black;
}
footer{
    width: 1366px;
    height: 250px;
    
}